.file {
  padding: var(--mantine-spacing-sm);
  border: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-5));
  border-radius: var(--mantine-radius-md);
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-7));
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));

  &:hover {
    background-color: light-dark(var(--mantine-color-blue-0), var(--mantine-color-dark-6));
    border-color: light-dark(var(--mantine-color-blue-3), var(--mantine-color-dark-4));
  }
}

.text {
  max-width: calc(95% - 50px - var(--mantine-spacing-sm));
}

.iconContainer {
  position: relative;
  width: 5.5rem; /* ~88px */
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.iconContainer:hover .remove {
  display: block;
}

.iconContainer:hover .icon {
  opacity: 0.15;
  transform: scale(1.05);
}

.icon {
  opacity: 1;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.remove {
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
  z-index: 10;
  display: none;
  transition: 0.2s ease all;
}

.remove:hover {
  background-color: red;
  transform: scale(1.2);
}


