.icon {
  color: var(--mantine-color-blue-7);
}

.content {
  position-visibility: var(--mantine-color-white-9);
  border-start-end-radius: sm;
  border-end-start-radius: sm;
  border-start-start-radius: sm;
  border-start-end-radius: sm;
}
