.modal {
  z-index: 3000;
}

.scrollArea {
  padding: 1rem;
  border-radius: 12px;
  background-color: var(--mantine-color-body);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  margin: auto;
  margin-top: 2rem;
  overflow-x: hidden;
  box-sizing: border-box;
}

.scrollAreaContent {
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 300px;
}

.input {
  font-size: 14px;
  background-color: var(--mantine-color-gray-0);
  border: 1px solid var(--mantine-color-gray-3);
  padding: 20px 12px;
  border-radius: 2rem;
  padding-left: 2.5rem;
  transition: border-color 0.2s ease;
}

.input:focus {
  border-color: var(--mantine-primary-color-light);
  outline: none;
}

.resultItem {
  display: block;
  width: 100%;
  text-align: left;
  padding: 0.6rem 0.8rem;
  border-radius: 8px;
  transition:
    background 0.2s ease,
    transform 0.15s ease;
  background-color: transparent;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.resultItemText {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.resultItem:hover {
  background-color: var(--mantine-color-gray-1);
  transform: translateX(2px);
}

.resultItem:active {
  background-color: var(--mantine-color-gray-2);
}
