.inner {
  padding: 0.5%;
  display: flex;
  column-gap: 0.5%;
}

.content {
  padding: 0.5%;
  width: 50%;
  flex-grow: 1;

  @media (max-width: var(--mantine-breakpoint-md)) {
    width: 100%;
  }
}

.sidebar {
  padding: 0.5%;
  width: 30%;
  flex-grow: 1;

  @media (max-width: var(--mantine-breakpoint-md)) {
    width: 100%;
  }

.checkbox input {
  cursor: pointer;
}

.disabledCheckbox input {
  cursor: default;
  pointer-events: none;
}
}
