.link {
  text-decoration: none;
}

.card {
  transition: 0.3s ease all;
}

.title {
  color: var(--mantine-color-blue-6);
  transition: 0.2s ease all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.title:hover {
  border: 1px solid var(--mantine-color-gray-4);
}
